%header
  .btn-group.actions
    %button.btn.btn-run(title='Run this query')
      %i.icon-play
    %button.btn.btn-save(title='Save this query')
      %i.icon-save
    %button.btn.btn-delete(title='Delete this query')
      %i.icon-trash

  .btn-group.navigation
    %button.btn.btn-show-results
      %i.icon-table

  .title
    %h2 Datagram
    %input.edit-title.display-none(type='text' value='Datagram')

.file-tree
  %h4.title Saved Queries
  %ul.queries
    -@queries.each do |query|
      %li.query(data-content="#{query.content}" data-filter="#{query.filter}")="Query #{query.id}"

#editor
#filter-editor

#results.display-none
  %h1 Results

.query-results
  %table.table.table-striped.results
    %thead
    %tbody

:coffeescript
  editor = ace.edit('editor')

  editor.setValue """
  /*
  Enter your SQL query below.
  You can run, save, or delete queries using the buttons above
  */

  SELECT *
  FROM users
  """

  SQLMode = require('ace/mode/sql').Mode

  editorSession = editor.getSession()

  editor.setShowPrintMargin(false)
  editor.renderer.setShowGutter(false)

  editorSession.setTabSize(2)
  editorSession.setUseSoftTabs(true)
  editorSession.setMode(new SQLMode())

  filterEditor = ace.edit('filter-editor')

  filterEditor.setValue """
  // Enter your JavaScript filter below.
  // Filters modify the returned SQL dataset
  // Query results are available for manipulation
  // via the global variable `results`
  window.names = results.map(function(result, index) {
    return result.first_name + " " + results.last_name
  });
  """

  JavaScriptMode = require('ace/mode/javascript').Mode

  filterSession = editor.getSession()

  filterEditor.setShowPrintMargin(false)
  filterEditor.clearSelection()

  filterEditor.renderer.setShowGutter(false)

  filterSession.setTabSize(2)
  filterSession.setUseSoftTabs(true)
  filterSession.setMode(new JavaScriptMode())

  $ ->
    $(document).on 'click', (e) ->
      $target = $(e.target)

      return if $target.is('.title .edit-title, .title h2')

      queryName = $('header .title .edit-title').val()

      $('header .title h2').removeClass('display-none').text(queryName)
      $('header .title .edit-title').addClass 'display-none'

    $('header .title .edit-title').on 'keydown', (e) ->
      return unless e.keyCode is 13

      queryName = $('header .title .edit-title').val()

      $('header .title h2').removeClass('display-none').text(queryName)
      $('header .title .edit-title').addClass 'display-none'

    $('header .title h2').on 'click', (e) ->
      $target = $(e.currentTarget)

      width = $target.width()

      $target.addClass 'display-none'
      $target.next().removeClass('display-none').width(width).select()

    $('.file-tree .query').on 'click', (e) ->
      $target = $(e.currentTarget)

      $('.query').removeClass 'active'

      $target.addClass 'active'

      editor.setValue $target.attr('data-content')
      filterEditor.setValue $target.attr('data-filter')

    $('.btn-show-results').on 'click', (e) ->
      $target = $(e.currentTarget)

      $editor = $('#editor')
      $results = $('#results')

      $target.toggleClass 'active'

      if $target.is('.active')
        $editor.addClass 'display-none'
        $results.removeClass 'display-none'
      else
        $editor.removeClass 'display-none'
        $results.addClass 'display-none'

    $('.btn-save').on 'click', ->
      $.ajax
        type: "POST"
        url: '/queries'
        data:
          content: editor.getValue()
        dataType: 'json'
        success: (data) ->
          console.log data

    $('.btn-run').on 'click', ->
      $.ajax
        type: "GET"
        url: '/run'
        data:
          content: editor.getValue()
        success: (data) ->
          window.results = data.items

          $('.results thead, .results tbody').empty()

          for column in data.columns
            $('table thead').append "<th>\#{column}</th>"

          for item in data.items
            $tr = $('<tr>')

            for key, value of item
              $tr.append "<td>\#{value}</td>"

            $('table tbody').append $tr
        dataType: 'json'
