%header
  .btn-group.actions
    %button.btn.btn-save(title='Save this query')
      %i.icon-save
    %button.btn.btn-copy(title='Copy this query')
      %i.icon-copy
    %button.btn.btn-delete(title='Delete this query')
      %i.icon-trash

  .btn-group.navigation
    %button.btn.btn-run(title='Run this query')
      %i.icon-play
    /%button.btn.btn-show-results(title='View query results')
    /  %i.icon-table

  .title
    %h2.name
    %input.edit-title.display-none(type='text' value='')

.query-content
  .file-tree
    %h4.title Saved Queries
    %ul.queries
      -@queries.each do |query|
        -queryName = query.name.nil? ? "Query #{query.id}" : query.name

        %li.query(data-content="#{query.content}" data-filter="#{query.filter}" data-name="#{query.name}" data-id="#{query.id}")=queryName

  #editor
  .sql-results
    .count
  #filter-editor
  .filter-results
    .count

.results-content.display-none
  #results
    %h1 Results

  .query-results
    %table.table.table-striped.results
      %thead
      %tbody

.error-message.display-none
  .text
  .icon-remove
