%header
  .btn-group.actions
    %button.btn.btn-new(title='Create a new query')
      %i.icon-file
    %button.btn.btn-copy(title='Copy this query')
      %i.icon-copy
    %button.btn.btn-delete(title='Delete this query')
      %i.icon-trash

  .btn-group.navigation
    %button.btn.btn-schema(title='Inspect database schema')
      %i.icon-table
    %button.btn.btn-run(title='Run this query')
      %i.icon-play

  .title
    %h2.name
    %input.edit-title.display-none(type='text' value='')

.query-content
  .file-tree
    %h4.title Saved Queries
    %ul.queries
      -@queries.each do |query|
        -queryName = query.name.nil? ? "Query #{query.id}" : query.name.strip
        -active = query.id == id ? 'active' : ''
        -locked = query.locked_at ? 'locked' : ''

        %li.query(class="#{active}" data-content="#{query.content}" data-filter="#{query.filter}" data-name="#{query.name}" data-id="#{query.id}")
          =queryName
        .icons
          .icon-lock(title='Lock query' class="#{locked}" data-locked_at="#{query.locked_at}")
          .icon-circle-blank.display-none(title='Unsaved query changes')
          .icon-spinner.icon-spin.display-none(title='Saving query')
          .icon-ok-circle.display-none(title='Query successfully saved')

  #editor
  .sql-results
    .count
  #filter-editor
  .filter-results
    .count

  .results-content
    #results
      %h3
        Results
        %a.btn.download(disabled='disabled' href='#' title='Download query results')
          %i.icon-download-alt

    .query-results
      %table.table.table-striped.results
        %thead
        %tbody

.error-message.display-none
  .text
  .icon-remove

.query-spinner.display-none
  %span.text Crunching some numbers
  .icon-spinner.icon-spin.icon-large

.schema-overlay.display-none
  .icon-remove-sign.icon-large
  %h4 Database Schema
  .schema
    -@schema.each_pair do |table_name, columns|
      .database-table
        %h5.table-name= table_name
        %ul
          -columns.each do |col|
            %li= col

